{% extends'base.html.twig' %}
{% block body %}
<h1>bienvenue dans se blog</h1>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa cumque deserunt inventore magni necessitatibus
    odit qui quis quo veritatis. Adipisci blanditiis dicta distinctio dolor eligendi expedita ipsam iure laboriosam
    magnam, officia officiis perferendis perspiciatis qui reiciendis sed tempore veritatis?</p>
<p>At atque aut dolorem
    eaque error ex excepturi, fugiat, labore magni molestiae molestias necessitatibus obcaecati quam quas quis ratione
    recusandae rem reprehenderit sapiente sequi sit temporibus unde voluptatibus. Aliquid beatae consectetur dolorem est
    et fugit, optio pariatur quaerat quam saepe!</p>
{% endblock %}